h1{
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
}
h2{
    color: crimson;
    font-family: 'Times New Roman', Times, serif;

}
ul{
    color: darkmagenta;
    font-family: Arial, Helvetica, sans-serif;

}
img{
    height: 400px;
    width: 300px;
}
p{
    color: rgb(8, 10, 8);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    font-style: italic;
}